.calendar-28 > :nth-child(-n+28) {
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  margin: 1px 0 0 1px;
  cursor: pointer;
  background: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 100px;
  text-align: center; }

.calendar-29 > :nth-child(-n+29) {
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  margin: 1px 0 0 1px;
  cursor: pointer;
  background: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 100px;
  text-align: center; }

.calendar-30 > :nth-child(-n+30) {
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  margin: 1px 0 0 1px;
  cursor: pointer;
  background: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 100px;
  text-align: center; }

.calendar-31 > :nth-child(-n+31) {
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  margin: 1px 0 0 1px;
  cursor: pointer;
  background: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 100px;
  text-align: center; }

.calendar > :nth-child(1)::after {
  content: "1"; }

.calendar > :nth-child(2)::after {
  content: "2"; }

.calendar > :nth-child(3)::after {
  content: "3"; }

.calendar > :nth-child(4)::after {
  content: "4"; }

.calendar > :nth-child(5)::after {
  content: "5"; }

.calendar > :nth-child(6)::after {
  content: "6"; }

.calendar > :nth-child(7)::after {
  content: "7"; }

.calendar > :nth-child(8)::after {
  content: "8"; }

.calendar > :nth-child(9)::after {
  content: "9"; }

.calendar > :nth-child(10)::after {
  content: "10"; }

.calendar > :nth-child(11)::after {
  content: "11"; }

.calendar > :nth-child(12)::after {
  content: "12"; }

.calendar > :nth-child(13)::after {
  content: "13"; }

.calendar > :nth-child(14)::after {
  content: "14"; }

.calendar > :nth-child(15)::after {
  content: "15"; }

.calendar > :nth-child(16)::after {
  content: "16"; }

.calendar > :nth-child(17)::after {
  content: "17"; }

.calendar > :nth-child(18)::after {
  content: "18"; }

.calendar > :nth-child(19)::after {
  content: "19"; }

.calendar > :nth-child(20)::after {
  content: "20"; }

.calendar > :nth-child(21)::after {
  content: "21"; }

.calendar > :nth-child(22)::after {
  content: "22"; }

.calendar > :nth-child(23)::after {
  content: "23"; }

.calendar > :nth-child(24)::after {
  content: "24"; }

.calendar > :nth-child(25)::after {
  content: "25"; }

.calendar > :nth-child(26)::after {
  content: "26"; }

.calendar > :nth-child(27)::after {
  content: "27"; }

.calendar > :nth-child(28)::after {
  content: "28"; }

.calendar > :nth-child(29)::after {
  content: "29"; }

.calendar-mon > :first-child {
  margin-left: 0; }

.calendar-tue > :first-child {
  margin-left: 102px; }

.calendar-wed > :first-child {
  margin-left: 203px; }

.calendar-thu > :first-child {
  margin-left: 304px; }

.calendar-fri > :first-child {
  margin-left: 405px; }

.calendar-sat > :first-child {
  margin-left: 506px; }

.calendar-sun > :first-child {
  margin-left: 607px; }

body {
  margin: 0; }

.calendar {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 708px; }

/*# sourceMappingURL=main.css.map */
